<!-- Needs Formating -->
<%= form_for @hour do |f| %>
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
    <%= f.label :restaurant_name, 'Business Name' %> 
    <%= f.text_field :restaurant_name, class:"form-control", placeholder: "Business Name" %>
</div>
</div>
<div class="row">
<div class="col-xs-6">
    <%= f.label :monday %>
    <%= f.text_field :monday, class:"form-control", placeholder: "Monday Hours" %>
</div>
<div class="col-xs-6">
    <%= f.label :tuesday %>    
    <%= f.text_field :tuesday, class:"form-control", placeholder: "Tuesday Hours" %>
</div>
</div>
<div class="row">
<div class="col-xs-6">
    <%= f.label :wednesday %>    
    <%= f.text_field :wednesday, class:"form-control", placeholder: "Wednesday Hours" %>
</div>
<div class="col-xs-6">
    <%= f.label :thursday %>    
    <%= f.text_field :thursday, class:"form-control", placeholder: "Thursday Hours" %>
</div>
</div>
<div class="row">
<div class="col-xs-6">
    <%= f.label :friday %>    
    <%= f.text_field :friday, class:"form-control", placeholder: "Friday Hours" %>
</div>
<div class="col-xs-6">
    <%= f.label :saturday %>    
    <%= f.text_field :saturday, class:"form-control", placeholder: "Saturday Hours" %>
</div>
</div>
<div class="row">
<div class="col-xs-6">
    <%= f.label :sunday %>    
    <%= f.text_field :sunday, class:"form-control", placeholder: "Sunday Hours" %>  
</div>
<div class="col-xs-6">
    <%= f.label :secondary %>    
    <%= f.text_field :secondary, class:"form-control", placeholder: "Secondary Hours" %> 
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <%= f.label :restaurant_details, 'Summary of Business' %>    
    <%= f.text_area :restaurant_details, class:"form-control", placeholder: "Business Details" %>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <%= f.label :restaurant_promotions, 'Current Promotions' %> 
    <%= f.text_area :restaurant_promotions, class:"form-control", placeholder: "Current Promotions" %>
</div>   
</div>
<div class="row">
<div class="col-xs-12">
    <%= link_to "Cancel", reference_admin_path, class:"m-t-2 color btn btn-success btn-block" %>
    <%= f.submit(@hour.new_record? ? "Create Incident Type" : "Edit Incident Type", class:'btn btn-success btn-block') %>
</div>
</div>
</div>
<% end %>