<div class="m-y-3 col-xs-3"></div>    
    <div class="m-y-3 col-xs-6">
        <div class=" m-y-3 card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
          <h2 class="login">Current User Accounts</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th id="users">User</th>
                        <th class="text-xs-center" style="color:black">Access</th>
                        <th id="edit-user">Edit | Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                    <tr>
                        <td id="users"><%= user.user_name %></td>
                        <td style="color:black"><%= user.access %></td>
                        <td><%= link_to(edit_user_path(user), class:'test btn btn-primary') do %><i class="fa fa-pencil"></i><% end %> | <%= link_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure? (This can not be undone)'}, class:'test btn btn-danger' %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <%= link_to "Add User", user_create_path, class:"color btn btn-primary" %>
        </div>
    </div>  