<!-- Displays Admin             --*>
<*-- Compiled and Error Checked --*>
<*-- On 9/29/2016               --->
<div class="row v-c">
    <div class="container">
        <div class="col-md-12">
            <div class="col-xs-4">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                    <i class="fa fa-user-plus m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "Records Manager", people_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>
            <div class="col-xs-4">        
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                    <i class="fa fa-balance-scale m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "Security Manager", users_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>        
            <div class="col-xs-4">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                    <i class="fa fa-pencil-square-o m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "Manage Property", property_admin_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>
        </div>        
        <div class="col-md-12">      
            <div class="col-xs-6">        
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                    <i class="fa fa-users m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "User Management", users_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>
            <div class="col-xs-6">        
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                    <i class="fa fa-book m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "References Manager", reference_admin_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>  
        </div>  
    </div>
</div>