<div class="container">
    <div class="row m-y-2">
        <div class="col-xs-12 text-xs-center">
            <h2>Application Management</h2>
        </div>
    </div>
    <% if current_user.access == "Surveillance" || current_user.access == "Dispatcher"%>
    <div class="row m-t-2">
            <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                <i class="fa fa-user-plus m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                <br />
                <br />
                 <%= link_to "Records Manager", people_path, class:'color btn btn-primary m-b-2' %>
            </div>
        </div>
    <% else %>
        <% if current_user.access == "Management" %>
            <div class="row m-t-2">
                <div class="col-xs-6">
                    <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                        <i class="fa fa-user-plus m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                        <br />
                        <br />
                        <%= link_to "Records Manager", people_path, class:'color btn btn-primary m-b-2' %>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                
                        <i class="fa fa-pencil-square-o m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                        <br />
                        <br />
                        <%= link_to "Manage Property", property_admin_path, class:'color btn btn-primary m-b-2' %>
                    </div>
                </div>
            </div>  
        <% else %>
            <div class="row m-t-2">
                <div class="col-xs-6">
                    <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                        <i class="fa fa-user-plus m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                        <br />
                        <br />
                        <%= link_to "Records Manager", people_path, class:'color btn btn-primary m-b-2' %>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                
                        <i class="fa fa-pencil-square-o m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                        <br />
                        <br />
                        <%= link_to "Manage Property", property_admin_path, class:'color btn btn-primary m-b-2' %>
                    </div>
                </div>
            </div>  
            <div class="row m-t-2">
                <div class="center card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
               
                    <i class="fa fa-users m-t-3" aria-hidden="true" style="font-size:65px;"></i>
                    <br />
                    <br />
                    <%= link_to "User Management", user_admin_path, class:'color btn btn-primary m-b-2' %>
                </div>
            </div>
        <% end %>
    <% end %>     
</div>