<div class="container">
    <div class="row m-t-2">
        <div class="col-xs-12 text-xs-center">
            <h2>Archived Record's</h2>
        </div>
    </div>
    <div class="row m-t-2">
        <% @people.each do |person| %> 
        <div class="col-xs-3">
            <div class="height-fix card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);">
                <% if person.image.blank? %>
                <%= image_tag "no-img.png", class:"img-fluid" %> 
                <% else %>
                <%= image_tag person.image.url, class:"img-fluid" %>
                <% end %>
                <%= link_to "Full Record", person_path(person), class:'color btn btn-primary' %>                    
                <h5 class="m-t-2">Person of Interest</h5>
                <p id="name"><%= person.name %></p>
                <p id="vitals"><%= person.height %> | <%= person.weight %> lb's</p>
                <h5>Reason for Issue</h5>
                <p id="reason"><%= person.reason_short %></p>
            </div>
        </div>
        <% end %>
    </div>
</div>





