<!-- Displays Directory         --*>
<*-- Compiled and Error Checked --*>
<*-- On 9/26/2016               --->
<div class="row v-c">
    <div class="col-xs-12 m-t-2">
        <div class="card card-block shadow text-xs-center" style=" min-height:535px;">
            <div class="row">
                <ul class="nav nav-pills p-l-1" role="tablist">
                    <% @department.each_with_index do |dept, index| %>
                    <% if index == 0 %>
                        <li class="nav-item m-t-1 m-l-1">
                            <a class="color-dir nav-link active" data-toggle="tab" href="#dept<%= index %>" role="tab"><%= dept.name %></a>
                        </li>
                    <% else %>
                        <li class="nav-item m-t-1 m-l-1">
                            <a class="color-dir nav-link" data-toggle="tab" href="#dept<%= index %>" role="tab"><%= dept.name %></a>
                        </li>
                    <% end %>
                    <% end %>
                </ul>
            </div>
            <div class="tab-content m-t-2">
            <% @department.each_with_index do |dept, index| %>
            <% if index == 0 %>
                <div class="tab-pane active" id="dept<%= index %>" role="tabpanel">
                    <table class="text-xs-center table fix">
                        <thead>
                            <tr>
                                <th class="text-xs-center">Location</th>
                                <th class="text-xs-center">Department</th>
                                <th class="text-xs-center">Inside Line</th>                        
                                <th class="text-xs-center">Outside Line</th>
                            </tr>
                        </thead>
                        <tbody class="directory-tab">
                        <% dept.listing.each do |listing| %>     
                            <tr>
                                <td><%= listing.location %></td>
                                <td><%= listing.department.name %></td>
                                <td>Ext. <%= listing.extension %></td>
                                <td><%= listing.phone_number %></td>
                            </tr>
                        <% end %>
                        
                        </tbody>
                    </table>
                </div>
            <% else %>
            <div class="tab-pane" id="dept<%= index %>" role="tabpanel">
                <table class="text-xs-center table fix">
                    <thead>
                        <tr>
                            <th class="text-xs-center">Location</th>
                            <th class="text-xs-center">Department</th>
                            <th class="text-xs-center">Inside Line</th>
                            <th class="text-xs-center">Outside Line</th>
                        </tr>
                    </thead>
                    <tbody class="directory-tab">
                    <% dept.listing.each do |listing| %>         
                        <tr>
                            <td><%= listing.location %></td>
                            <td><%= listing.department.name %></td>
                            <td>Ext. <%= listing.extension %></td>
                            <td><%= listing.phone_number %></td>
                        </tr>
                    <% end %>

                    </tbody>
                </table>
            </div>
            <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>