<!-- Displays Maps              --*>
<*-- Compiled and Error Checked --*>
<*-- On 9/26/2016               --->
<div class="v-c">
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 350px;">
                 
                    <%= image_tag "floor.png", class:"img-fluid size p-b-1"  %>

                    <button class="color btn btn-primary" data-toggle="modal" data-target=".1stcasinofloor">Casino 1st Floor</button>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 350px;">
                 
                    <%= image_tag "floor2.png", class:"img-fluid size p-b-1"  %>
                    
                    <button class="color btn btn-primary" data-toggle="modal" data-target=".2ndcasinofloor">Casino 2nd Floor</button>
                </div>
            </div>  
        </div>    
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 250px;">
                 
                    <%= image_tag "entirecomplex.png", class:"img-fluid size p-b-1"  %>
                    
                    <button class="color btn btn-primary" data-toggle="modal" data-target=".entirecomplex">Ameristar Complex</button>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 250px;">
                 
                    <%= image_tag "parkinglot.png", class:"img-fluid size p-b-1"  %>
                    
                    <button class="color btn btn-primary" data-toggle="modal" data-target=".parkinglot">Parking Lot</button>
                </div>
            </div>  
        </div>    
    </div>
    <div class="col-xs-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 250px;">
                 
                    <%= image_tag "westhold.png", class:"img-fluid size p-b-1"  %>

                    <button class="color btn btn-primary" data-toggle="modal" data-target=".westhold">West Hold</button>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="card card-block text-xs-center" style="box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32); min-height: 250px; max-height: 250px;">
                 
                    <%= image_tag "easthold.png", class:"img-fluid size p-b-1"  %>
                    
                    <button class="color btn btn-primary" data-toggle="modal" data-target=".easthold">East Hold</button>
                </div>
            </div>  
        </div>    
    </div>    
</div>

<!-- Image Modals -->
<div class="modal fade 1stcasinofloor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "floor.png", class:"img-fluid" %>
    </div>
  </div>
</div>

<div class="modal fade 2ndcasinofloor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "floor2.png", class:"img-fluid" %>
    </div>
  </div>
</div>

<div class="modal fade entirecomplex" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "entirecomplex.png", class:"img-fluid" %>
    </div>
  </div>
</div>

<div class="modal fade parkinglot" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "parkinglot.png", class:"img-fluid" %>
    </div>
  </div>
</div>

<div class="modal fade westhold" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "westhold.png", class:"img-fluid" %>
    </div>
  </div>
</div>

<div class="modal fade easthold" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="v-c modal-dialog modal-lg">
    <div class="modal-content">
    <%= image_tag "easthold.png", class:"img-fluid" %>
    </div>
  </div>
</div>
