<!-- Backbone of Application    --*>
<*-- Compiled and Error Checked --*>
<*-- On 10/02/2016               --->
<!DOCTYPE html>
<html>
    <head>
        <title>Watchdog</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%= favicon_link_tag 'favicon.ico' %>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <% if current_page?(parking_path) || current_page?(landf_path) || current_page?(dispatcher_path) %>
    <body class="droppages" onload="startTime()">
    <% else %>
    <body onload="startTime()">
    <% end %>
        <div class="height-keep navbar navbar-static-top navbar-dark bg-inverse shadow">
            <div class="container-fluid">
                <div class="w navbar-exit">
                    <% if logged_in? %>
                        <% if current_user.clearance_id == 1 %>
                        <%= link_to "Admin", admin_home_path, class:"color btn btn-primary" %> |
                        <% else %>
                        <% end %>
                    <%= link_to "Logout", logout_path, class:"color btn btn-primary" %>
                    <% else %>
                    <% end %>
                </div>
                <div class="w navbar-home">
                    <% if logged_in? == true %>
                        <% if current_page?(index_path) %>
                        <div class="btn-group">
                            <button type="button" class="color btn w dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Menu
                            </button>
                            <div class="m-helper dropdown-menu">
                                <%= link_to "Parking Violations (Alpha)", parking_path, class:"dropdown-item" %>
                                <%= link_to "Lost and Found (Alpha)", landf_path, class:"dropdown-item" %>
                                <%= link_to "Dispatcher (Alpha)", dispatcher_path, class:"dropdown-item" %>
                            <div class="dropdown-divider"></div>
                                <%= link_to "About", about_path, class:"dropdown-item" %>
                            </div>
                        </div>
                        <% else %>
                            <%= link_to "Home", index_path, class:"color btn btn-primary" %>
                            <!-- Back Button Loop -->
                            <% if current_page?(active_path) || current_page?(security_path) || current_page?(property_path) || current_page?(admin_home_path) %>
                                | <%= link_to "Back", index_path, class:"color btn btn-primary" %>
                            <% else %>
                            	<% if current_page?(venue_path) || current_page?(maps_path) || current_page?(directory_path) %>
                            		| <%= link_to "Back", property_path, class:"color btn btn-primary" %>
	                            <% else %>
                            	    <% if current_page?(people_path) || current_page?(reference_admin_path) || current_page?(security_admin_path) || current_page?(logs_admin_path) || current_page?(property_admin_path) || current_page?(users_path) %>
                            	        | <%= link_to "Back", admin_home_path, class:"color btn btn-primary" %>
                                    <% else %>
                                        <% if current_page?(archive_path) %>
                                            | <%= link_to "Back", people_path, class:"color btn btn-primary" %>
                                        <% else %>
                                            <% if current_page?(events_path) || current_page?(listings_path) %>
                                                | <%= link_to "Back", property_admin_path, class:"color btn btn-primary" %>
                                            <% else %>
                                                <% if current_page?(about_path) || current_page?(landf_path) || current_page?(dispatcher_path) || current_page?(parking_path) %>
                                                <% else %>
                                                    <% if current_page?(:action => "new")  || current_page?(:action => "edit") %>
                                                    <% else %>
                                                        <% if current_page?(person_path) %>
                                                            | <%= link_to "Back", active_path, class:"color btn btn-primary" %>
                                                        <% else %>
                                                        <% end %>
                                                    <% end %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                            	<% end %>
                            <% end %>	
                        <% end %>            
                    <% else %>
                    <% end %>
                </div>
            </div>
        </div>
<!--    <input type="button" value="click to toggle fullscreen" onclick="toggleFullScreen()"> -->
        <% if current_page?(active_path) || current_page?(reference_admin_path) %>
        <div class="container">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>
        <% else %>
        <div class="container">
            <%= render 'layouts/messages' %>
            <div class="row">
                <%= yield %>
            </div>
        </div>
        <% end %>
        <div class="height-keep navbar navbar-fixed-bottom navbar-dark bg-inverse footer-shadow">
            <% if logged_in? == true %>
            <div class="col-xs-3">
                <ul class="nav navbar-nav pull-xs-left" id="weather"></ul>
            </div>             
            <div class="col-xs-6 text-xs-center">
<!--            	<p class="copyright">
					&copy; <script>document.write(new Date().getFullYear())</script> Wise Solutions
				</p>-->
            </div>
               
            <div class="col-xs-3">
                <ul class="pull-xs-right footer-clock nav navbar-nav" id="clock"></ul>
                <ul class="pull-xs-right footer-buffer nav navbar-nav"><li class="w nav-item">|</li></ul>
                <ul class="pull-xs-right footer-hour nav navbar-nav"><li class="modal-row-hour w nav-item" data-toggle="modal" data-target=".hoursModal">Streetscape</li></ul>        
            </div>            
            <% else %>
            <div class="col-xs-3">
            </div>             
            <div class="col-xs-6 text-xs-center">
<!--            	<p class="copyright">
					&copy; <script>document.write(new Date().getFullYear())</script> Wise Solutions
				</p>-->
            </div>
               
            <div class="col-xs-3">
            </div>                
            <% end %>
        </div>
        <div class="modal forecastModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="v-c modal-dialog modal-lg">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <div class="forecast-w-2 card card-block shadow text-xs-center">
                            <span id="forecast"></span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <div class="modal hoursModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="v-c modal-dialog modal-lg">
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <div class="hours-w card card-block shadow text-xs-center">                    
                            <h5>Test Hours, Please Ignore</h5>
<div class="container-fluid">
<div class="col-xs-6">    
<% @firstset.each do |h| %>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h6 class="panel-title"><a class="color forecast-w btn btn-primary collapsed" data-toggle="collapse" data-parent="#accordion" href="#business-<%= h.id %>" aria-expanded="false" aria-controls="business-<%= h.id %>"><%= h.restaurant_name %></a></h6>
        </div>
        <div id="business-<%= h.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="container-fluid forecast-con-fix">
                <div class="col-md-12 forecast-col-fix">
                    <div class="col-sm-3" style="margin-top: .5rem;"><%= h.monday %></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3" style="margin-top: .5rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<% end %>
</div>
<div class="col-xs-6">
<% @secondset.each do |h| %>
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h6 class="panel-title"><a class="color forecast-w btn btn-primary collapsed" data-toggle="collapse" data-parent="#accordion" href="#business-<%= h.id %>" aria-expanded="false" aria-controls="business-<%= h.id %>"><%= h.restaurant_name %></a></h6>
        </div>
        <div id="business-<%= h.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="container-fluid forecast-con-fix">
                <div class="col-md-12 forecast-col-fix">
                    <div class="col-sm-3" style="margin-top: .5rem;"><%= h.monday %></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3" style="margin-top: .5rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>    
<% end %>
</div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

